.header{
    height: 240;
    width: auto;
    background: #12bbc7;
    display: grid;
    grid-template-columns: 50px 280px 2.5fr 250px 100px;
    grid-template-rows:10px 80px 40px 10px;


}

.resize {
  
    width:280px;
    height:120px;
  
}
.title
{
    grid-column: 2/3;
    grid-row: 2/4;
    
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(35, 35, 39);
}

li{
float:left;
}
.list12345{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
float:left;

}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
border-right:solid 1px ;
}

li a:hover {
background-color: white;
color:rgb(14, 14, 15);
border-right:solid 1px ;
}

.layout{
display:grid;
grid-template-columns: 1fr 3fr 1fr 1fr;
}

.forms{
margin:10px;
padding :10px;
grid-column: 2/3;
}
.passenger-form
{

background-color: rgb(235, 235, 235);
border:solid lightgray 1px;
display:grid;
grid-template-columns: 1fr 1fr;
}
.form{
grid-column: 1/2;
margin:30px;
}

.single-form input{
width: 90%;
padding: 12px 20px;
margin: 8px 12px;
box-sizing: border-box;
border-radius: 50px;
border: 1px solid lightgray;
transition: width 0.4s ease-in-out;
}
.single-form input:focus{
width: 95%;
border: 1px solid lightgray;
}

.single-form select{
width: 30%;
padding: 12px 20px;
margin: 8px 12px;
box-sizing: border-box;
border-radius: 50px;
border: 1px solid lightgray;
transition: width 0.4s ease-in-out;
}

.check-in
{
background-color: rgb(235, 235, 235);
border:1px solid lightgray;
display:grid;
grid-template-columns: 1fr 1fr;
}
.online
{
grid-column: 1/2;
border-right: 1px solid lightgray;
display:grid;
grid-template-columns: 1fr 5fr;
padding:10px;
}

.airport{
grid-column: 2/3;
display:grid;
grid-template-columns: 1fr 5fr;
padding:10px;
}
.radio{
grid-column: 1/2;
text-align: center;
align-self: center;
}
.radio-text{
grid-column: 2/3;
}


.carriage-box{
grid-column: 2/3;
margin:30px;
background-color: white;
border: solid lightgray 1px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 5px;
align-items: center;
}

  
  .minus-button,
  .plus-button {
    
        width: 50px;
        height: 50px;
        background-color: white;
        border-style: solid;
        border-color: #12bbc7;
        border-width: 2px;
        color: #12bbc7;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 28px;
        transition-duration: 0.4s;
        justify-self: center;
      
    

      
  }
  
  .minus-button:hover,
  .plus-button:hover {
    background-color: #12bbc7;
    color: white;
  }

  .carriage-icon {
    font-size: 24px;
    justify-self: center;
  }
  
  .number {
    text-align: center;
    font-size: 24px;
    color:#12bbc7;
    font-style: bold;
  }

.cart{
grid-column: 3/4;
}

.overall-results
{
background-color: #12bbc7;
height: 320px;
display:grid;
grid-template-columns: 2fr 1.2fr;
}
.synopsis
{
grid-column: 1/2;
margin:30px;
background-color: white;
border-radius: 5px;
display:grid;
grid-template-rows: 60px 200px;
}

.price-synopsis{
grid-column: 2/3;
margin:30px;
margin-left:120px;
align-self: center;
}


.button-continue{
align-self: center;
justify-content: center;
width: 250px;
background-color: #12c779;
border-style: solid;
border-color: white;
border-width: 2px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition: all 0.5s;
cursor: pointer;
border-radius:50px;
align-self:center;
}

.button-continue:hover {
background-color: white;
color: #12c779;
border-radius:5px;
}
