<style>
    footer {
        background: rgb(56, 54, 73);
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 13px;
        position: relative;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        left: 0;
        right: 0;

        max-width: 100%;

    }

    p1 {
        color: gold;
    }

    .footer-links {
        color: white;
        align-self: center;
        text-decoration: none;
    }

    .footer-links a {
        color: white;
        text-decoration: none;
    }

    .footer-links a:hover {
        color: white;
        text-decoration: underline;
    }
</style>

<footer>
    <p1> OdysseyAir was named the Best Short-Haul Airline for the ninth time in ten years</p1>
    <p style ="color:white;">© OdysseyAir 2002-23 A subsidiary of OdysseyAir plc</p>
    <div class="footer-links">
        <a href="../controllers/login.php">Login</a>
        |
        <a href="../controllers/register.php">Sign-up</a>
        |
        <a href="../controllers/terms-and-conditions.php">Terms and Conditions</a>
    </div>
</footer>
</div>
</body>

</html>