<!DOCTYPE html>
<html>

<head>
    <title>Passenger Details</title>
    <style>

    </style>
</head>

<body style="margin:0;">
    <header>
        <div class="grida">
            <div class="header">
                <div class="title">
                    <a href="index.php"><img class="resize" src="../images/odysseyair2.png" alt="Italian Trulli"></a>
                </div>
            </div>

            <div class="" nav-bar>
                <ul>
                    <li><a href="index.php" class="c">&#9992; Home</a></li>
                    <li class="list12345">&#10112; Flights</li>
                    <li class="list12345">&#10103; Who's going?</li>
                    <li class="list12345">&#10114; Seats</li>
                    <li class="list12345">&#10115; Essentials</li>
                    <li class="list12345">&#10116; Checkout</li>
                </ul>
            </div>
    </header>